#searchMain{
    position: fixed;
    width: 400px;
    left: 50%;
    top:35%;
    transform: translate(-50%,-50%);
}

#searchMain h1{
    text-align: center;
}

#searchMain form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#searchMain input[type=text]{
    border-radius: 20px;
    width: 100%;
    height: 30px;
}

#searchMain input[type=submit]{
    margin: 30px;
    width: auto;
}

#searchLinks{
    float: right;
    padding: 10px;
    margin: 10px;
}

#searchLinks > a{
    padding: 10px;
}